<div class="container">
  <div class="about">
    <h2>About Us</h2>
    <hr>
    <p style="font-size: 13px; text-align: center;">Get to know the team and the story behind MemoMio!</p>

      <section class="cd-timeline js-cd-timeline">
        <div class="container max-width-lg cd-timeline__container">
          <div class="cd-timeline__block" style="width: 95%;">
            <div class="cd-timeline__img cd-timeline__img--picture">
              <img src="https://images.unsplash.com/photo-1601027847350-0285867c31f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
            </div>

            <div class="cd-timeline__content text-component" style="margin-top: 20px;">
              <h5>What is MemoMio?</h5>
              <p style="padding-top: 10px;">
                MemoMio is a private memory album created to assist you in reflecting on your life journey.
                Think of it as a personal notebook where you can organize, revisit, and annotate your memories.
                Our visually light and engaging digital environment allows you to view your memories in chronological order,
                arranged in a timeline that captures the essence of your life's story.
              </p>
            </div>
          </div>

          <div class="cd-timeline__block" style="width: 95%;">
            <div class="cd-timeline__img cd-timeline__img--picture">
              <img src="https://images.unsplash.com/photo-1511871893393-82e9c16b81e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="">
            </div>

            <div class="cd-timeline__content text-component" style="margin-top: 20px;">
              <h5>Is it basically a diary?</h5>
              <p style="padding-top: 10px;">
                Unlike a traditional diary, MemoMio offers a structured digital environment that enables users to explore
                and organize their memories in a more dynamic way. Additionally, MemoMio can be used in partnership with
                psychotherapy to support personal growth and healing.
              </p>
            </div>
          </div>

          <div class="cd-timeline__block" style="width: 95%;">
            <div class="cd-timeline__img cd-timeline__img--picture">
              <img src="https://images.unsplash.com/photo-1613926161474-fcc7a939e051?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1739&q=80" alt="">
            </div>

            <div class="cd-timeline__content text-component" style="margin-top: 20px;">
              <h5>Who is MemoMio for?</h5>
              <p style="padding-top: 10px;">
                Short answer: Everyone!
                <br>
                At MemoMio, we recognize the importance of mental health. Through our own experiences, we understand
                that the foundation of personal growth and healing lies in better self-understanding.
                MemoMio was developed to assist anyone seeking to reflect on their life in a less
                emotionally exhausting way. With MemoMio, you can create, curate, and annotate your memories,
                adding new details or modifying your perspectives as needed. Over time, you'll gain fresh insights
                into the broader contexts of your memories and may even feel empowered to be the author of your own story.
                We acknowledge that revisiting certain memories, particularly those that are emotionally challenging,
                can be difficult. Whether used in therapy or independently, MemoMio serves as a flexible tool for
                personal growth and reflection.
              </p>
            </div>
          </div>

          <div class="cd-timeline__block" style="width: 95%;">
            <div class="cd-timeline__img cd-timeline__img--picture">
              <img src="https://images.unsplash.com/photo-1493836512294-502baa1986e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1790&q=80" alt="">
            </div>

            <div class="cd-timeline__content text-component" style="margin-top: 20px;">
              <h5>MemoMio and Psychotherapy</h5>
              <p style="padding-top: 10px;">
                Our team at MemoMio initially aimed to provide a user-friendly platform that supports psychotherapy
                patients in achieving their therapy goals. With MemoMio, you can collaborate with your therapist to
                examine your memories and gain new insights into your behavioral patterns. We are passionate about
                making a positive impact on people's lives, and we believe that MemoMio can help you grow and evolve.
              </p>
            </div>
          </div>

          <div class="cd-timeline__block" style="width: 95%;">
            <div class="cd-timeline__img cd-timeline__img--picture">
              <img src="https://scontent.fpeg1-2.fna.fbcdn.net/v/t39.30808-6/287089674_1872989149566341_5950899948420974844_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=z7LEaD8jY7sAX-cJdCQ&_nc_ht=scontent.fpeg1-2.fna&oh=00_AfA5mK4SinWxov-YFYDQFmZZ-dK1ylKwS2JAezE5wx3UaQ&oe=64288677" alt="">
            </div>

            <div class="cd-timeline__content text-component" style="margin-top: 20px;">
              <h5>Who are we?</h5>
              <p style="padding-top: 10px;">
                MemoMio is developed by Philipp Stähr, Paulyn Ompico, Leonardo Genzolini, and Florent Theroude.
                We are four Fullstack Web Development students at <a href="https://www.lewagon.com">Le Wagon</a> Online, driven by a shared mission to
                help people reflect on their life journey. We believe that everyone has a unique world within themselves
                to discover, and we're here to help you explore yours.
              </p>
            </div>
          </div>
        </div>
      </section>


    <div class="about-img-card">
      <h3>Meet the Team</h3>
      <div class="pro-img">
        <a href="https://github.com/philipposophos" style="color: white; text-decoration: none;">
          <div>
            <%= image_tag "philipp.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
            <p>Philipp</p>
          </div>
        </a>
        <a href="https://github.com/paulynompico" style="color: white; text-decoration: none;">
          <div>
            <%= image_tag "paulyn.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
            <p>Paulyn</p>
          </div>
        </a>
        <a href="https://github.com/itsleonardog" style="color: white; text-decoration: none;">
          <div>
            <%= image_tag "leonardo.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
            <p>Leonardo</p>
          </div>
        </a>
        <a href="https://github.com/flo-kichijoji" style="color: white; text-decoration: none;">
            <div>
              <%= image_tag "flo.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
              <p>Florent</p>
            </div>
        </a>
      </div>
    </div>
  </div>
</div>


<%# Background animation %>
<%= render "shared/bg_animation", animate: true, show_sun: false, show_arrowdown: false %>
