<div class="container">
  <!-- Header section -->
  <div class="header">
    <h1></h1>
    <!-- CSS "rippled" button -->
    <div class="header-create-memory animate__animated animate__fadeInDown">
      <%= link_to new_memory_path, class: "btn sun-btn" do %>
        <%# <i class="fa-solid fa-plus" style="font-size: 50px; text-shadow: 0 1px 4px white;"></i> %>
      <% end %>
    </div>
    <h3 class="animate__animated animate__fadeInDown">EXPLORE YOUR BIOGRAPHY</h3>
  </div>

    <!-- Timeline section -->
  <section class="cd-timeline js-cd-timeline">
      <h2 class="timeline-header">Your most recent memories:</h2>
      <div class="container max-width-lg cd-timeline__container">
        <% @memories.each do |memory| %>
          <%= link_to memory_path(memory), style: "text-decoration: none;" do %>
            <div class="cd-timeline__block">
              <div class="cd-timeline__img cd-timeline__img--picture">
                <% if memory.photo.attached? %>
                  <%= cl_image_tag memory.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              </div> <!-- cd-timeline__img -->

              <div class="cd-timeline__content text-component" style="text-align: center;">
                <h2><%= memory.title %></h2>
                <p class="date"><%= memory.date.strftime("%B %d, %Y") %></p>
                <p> <%= truncate(memory.description, :length => 60, :separator => ' ') %> </p>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
          <% end %>
        <% end %>
      </div>
      <div class="memories-button">
        <%= link_to "Show All Memories", memories_path, class: "btn btn-primary" %>
      </div>
  </section> <!-- cd-timeline -->
</div>


<%# Background animation %>
<%= render "shared/bg_animation", animate: true, show_sun: false, show_arrowdown: true %>
