      <%= form_with url: memories_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a memory"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="memories">
        <% @memories.each do |memory| %>
          <h4><%= memory.title %></h4>
          <p><%= memory.description %></p>
        <% end %>
      </div>
<ul>
  <% @memories.each do |memory| %>
    <li><%= memory.title %></li>
  <% end %>
</ul>
<%= form_with model: @memory do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.number_field :description %>
  <%= f.label :created_at %>
  <%= f.text_field :created_at %>
  <%= f.label :updated_at %>
  <%= f.text_field :updated_at %>
  <%= f.submit %>
<% end %>
