<div class="search-container">
  <%= form_with url: memories_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
        params[:query],
        placeholder: "Find a memory"
    %>
    <%= button_tag do%>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
</div>

<div class="filters">
  <%= form_with url: memories_path, method: :get, html: {class: "filter-form"} do %>
    <fieldset class="form-group check_boxes optional snippet_tags" style="margin: 0; padding: 0 10px; width: 100%;">
        <div class="tag-list d-flex justify-content-around">
          <div class="tag-item">
            <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="good" name="filter_option" id="filter_option_good" onchange="this.form.submit()">
            <label class="form-check-label collection_check_boxes d-flex justify-content-center" style="margin: 0; padding: 0;" for="filter_option_good"><i class="fa-regular fa-face-smile-beam"></i></label>
          </div>
          <div class="tag-item">
            <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="okay" name="filter_option" id="filter_option_okay" onchange="this.form.submit()">
            <label class="form-check-label collection_check_boxes d-flex justify-content-center" style="margin: 0; padding: 0;" for="filter_option_okay"><i class="fa-regular fa-face-meh"></i></label>
          </div>
          <div class="tag-item">
            <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="bad" name="filter_option" id="filter_option_bad" onchange="this.form.submit()">
            <label class="form-check-label collection_check_boxes d-flex justify-content-center" style="margin: 0; padding: 0;" for="filter_option_bad"><i class="fa-regular fa-face-frown"></i></label>
          </div>
          <div class="tag-item">
            <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="trigger" name="filter_option" id="filter_option_trigger" onchange="this.form.submit()">
            <label class="form-check-label collection_check_boxes d-flex justify-content-center" style="margin: 0; padding: 0;" for="filter_option_trigger"><i class="fa-solid fa-bolt-lightning"></i></label>
          </div>
          <div class="tag-item">
            <input class="form-check-input check_boxes optional tag-selector" type="checkbox" value="true" name="filter_key" id="filter_key_true" onchange="this.form.submit()">
            <label class="form-check-label collection_check_boxes d-flex justify-content-center" style="margin: 0; padding: 0;" for="filter_key_true"><i class="fa-solid fa-key"></i></label>
          </div>
      </div>
    </fieldset>
  <% end %>
</div>





  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <% @memories.each do |memory| %>
        <% if params[:filter_option].present? %>
          <% if memory.tags.length != 0 %>
            <% memory.tags.each do |tag| %>
              <% if tag.emotional_tag.emotion == params[:filter_option] %>
                <%= link_to memory_path(memory), style: "text-decoration: none;" do %>
                  <div class="cd-timeline__block">
                    <div class="cd-timeline__img cd-timeline__img--picture">
                      <% if memory.photo.attached? %>
                        <%= cl_image_tag memory.photo.key, height: 300, width: 400, crop: :fill %>
                      <% end %>
                    </div> <!-- cd-timeline__img -->

                    <div class="cd-timeline__content text-component" style="text-align: center;">
                      <h2><%= memory.title %></h2>
                      <p class="date"><%= memory.date.strftime("%B %d, %Y") %></p>
                      <p> <%= truncate(memory.description, :length => 60, :separator => ' ') %> </p>
                      <div class="cd-timeline__tags" style="display: flex; justify-content: space-between; padding: 0 20px;">
                        <% if memory.tags.length == 0 %>
                          <i class="fa-regular fa-face-meh" style="color: transparent; font-size: 20px;"></i>
                        <% else %>
                          <% memory.tags.each do |tag| %>
                            <% if tag.emotional_tag.emotion == "bad"  %>
                                <i class="fa-regular fa-face-frown" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                            <% elsif tag.emotional_tag.emotion == "okay"  %>
                                <i class="fa-regular fa-face-meh" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                            <% elsif tag.emotional_tag.emotion == "good"  %>
                                <i class="fa-regular fa-face-smile-beam" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                            <% elsif tag.emotional_tag.emotion == "trigger"  %>
                                <i class="fa-solid fa-bolt-lightning" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% if memory.key_memory %>
                          <i class="fa-solid fa-key" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                        <% else %>
                          <i class="fa-solid fa-key" style="color: transparent; font-size: 20px;"></i>
                        <% end %>
                      </div>
                    </div> <!-- cd-timeline__content -->
                  </div> <!-- cd-timeline__block -->
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% elsif params[:filter_key].present? %>
          <% if memory.key_memory == true %>
            <%= link_to memory_path(memory), style: "text-decoration: none;" do %>
              <div class="cd-timeline__block">
                <div class="cd-timeline__img cd-timeline__img--picture">
                  <% if memory.photo.attached? %>
                    <%= cl_image_tag memory.photo.key, height: 300, width: 400, crop: :fill %>
                  <% end %>
                </div> <!-- cd-timeline__img -->

                <div class="cd-timeline__content text-component" style="text-align: center;">
                  <h2><%= memory.title %></h2>
                  <p class="date"><%= memory.date.strftime("%B %d, %Y") %></p>
                  <p> <%= truncate(memory.description, :length => 60, :separator => ' ') %> </p>
                  <div class="cd-timeline__tags" style="display: flex; justify-content: space-between; padding: 0 20px;">
                    <% if memory.tags.length == 0 %>
                      <i class="fa-regular fa-face-meh" style="color: transparent; font-size: 20px;"></i>
                    <% else %>
                      <% memory.tags.each do |tag| %>
                        <% if tag.emotional_tag.emotion == "bad"  %>
                            <i class="fa-regular fa-face-frown" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                        <% elsif tag.emotional_tag.emotion == "okay"  %>
                            <i class="fa-regular fa-face-meh" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                        <% elsif tag.emotional_tag.emotion == "good"  %>
                            <i class="fa-regular fa-face-smile-beam" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                        <% elsif tag.emotional_tag.emotion == "trigger"  %>
                            <i class="fa-solid fa-bolt-lightning" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if memory.key_memory %>
                      <i class="fa-solid fa-key" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                    <% else %>
                      <i class="fa-solid fa-key" style="color: transparent; font-size: 20px;"></i>
                    <% end %>
                  </div>
                </div> <!-- cd-timeline__content -->
              </div> <!-- cd-timeline__block -->
            <% end %>
          <% end %>
        <% else %>
          <%= link_to memory_path(memory), style: "text-decoration: none;" do %>
            <div class="cd-timeline__block">
              <div class="cd-timeline__img cd-timeline__img--picture">
                <% if memory.photo.attached? %>
                  <%= cl_image_tag memory.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              </div> <!-- cd-timeline__img -->

              <div class="cd-timeline__content text-component" style="text-align: center;">
                <h2><%= memory.title %></h2>
                <p class="date"><%= memory.date.strftime("%B %d, %Y") %></p>
                <p> <%= truncate(memory.description, :length => 60, :separator => ' ') %> </p>
                <div class="cd-timeline__tags" style="display: flex; justify-content: space-between; padding: 0 20px;">
                  <% if memory.tags.length == 0 %>
                    <i class="fa-regular fa-face-meh" style="color: transparent; font-size: 20px;"></i>
                  <% else %>
                    <% memory.tags.each do |tag| %>
                      <% if tag.emotional_tag.emotion == "bad"  %>
                          <i class="fa-regular fa-face-frown" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                      <% elsif tag.emotional_tag.emotion == "okay"  %>
                          <i class="fa-regular fa-face-meh" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                      <% elsif tag.emotional_tag.emotion == "good"  %>
                          <i class="fa-regular fa-face-smile-beam" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                      <% elsif tag.emotional_tag.emotion == "trigger"  %>
                          <i class="fa-solid fa-bolt-lightning" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if memory.key_memory %>
                    <i class="fa-solid fa-key" style="color: $dark-blue; font-size: 20px; text-shadow: 0 1px 5px rgba(0,0,0,0.4);"></i>
                  <% else %>
                    <i class="fa-solid fa-key" style="color: transparent; font-size: 20px;"></i>
                  <% end %>
                </div>
              </div> <!-- cd-timeline__content -->
            </div> <!-- cd-timeline__block -->
          <% end %>
        <% end %>
      <% end %>
    </div>
  </section> <!-- cd-timeline -->
</div>

<%# Background animation %>
<%= render "shared/bg_animation", animate: true, show_sun: true, show_arrowdown: false %>
