<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="form">
        <h2>Create a new memory</h2>
        <hr>
        <%= simple_form_for @memory, data: { controller: 'photo-preview flatpickr' } do |f| %>
          <%= image_tag "", width: 300, class: "hidden", data: { photo_preview_target: "preview" } %>
          <%= f.input :photo, as: :file, input_html: { class: 'd-none', data: { photo_preview_target: "input", action:"change->photo-preview#displayPreview" }}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo'%>
          <%= f.input :date, as: :string, input_html: { data: { flatpickr_target: "memoryDate" } } %>
          <%= f.input :title %>
          <%= f.input :description, as: :text %>
          <%= f.input :key_memory, :input_html => { :checked => true } %>
          <div class="form-action">
            <%= f.button :submit, "Create", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# Background animation %>
<%= render "shared/bg_animation", animate: false, show_sun: true, show_arrowdown: false %>
