<div class="container">
  <div class="card-memory">
    <% if @memory.photo.attached? %>  
      <%= cl_image_tag @memory.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <div class="card-memory-infos">
      <div>
        <h2><%= @memory.title %></h2>
        <p><%= @memory.description %></p>
      </div>
      <p class="card-memory-date"><%= @memory.date %></p>
    </div>
  </div>

  <%= link_to "Delete",
    memory_path(@memory),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this memory?"}
  %>
</div>

<div class="container">
  <h5>Notes</h5>
  <div class="form">
    <div class="container pt-3">
      <%= simple_form_for [@memory, @note] do |f| %>
        <%= f.input_field :content, :placeholder => "Add note" %>
        <%= f.submit "SUBMIT" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container" data-controller="edit-note">
  <% if @memory.notes != nil %>
    <% @memory.notes.each do |note| %>
      <div class="note-infos" data-edit-note-target="infos">
        <p><%= note.content %></p>
        <p><%= note.created_at.strftime("Added on %m/%d/%Y at %I:%M%p") %>
        <button aria-label="Edit note">
          <i class="fa-solid fa-pen" data-action="click->edit-note#displayForm"></i>
        </button>
        <%= link_to note_path(note.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash"></i>
        <% end %></p>
      </div>
        <%= simple_form_for note, html: {class: "d-none", data: {edit_note_target: "form", action: "submit->edit-movie#update"}} do |f| %>
          <%= f.input :content %>
          <%= f.submit "Update" %>
        <% end %>
    <% end %>
  <% end %>
</div>